*, ::before, ::after {
  box-sizing: border-box;
}

body {
  --color-moonstone: #47A8BD;
  --color-imperial-red: #F03A47;
  --color-eerie-black: #262626;
  --color-almond: #EAE0D5;
  --color-rich-black: #031927;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-almond);
}

header {
  display: block;
  unicode-bidi: isolate;
}

ul {
  list-style-type: disc;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0rem;
  background-color: var(--color-eerie-black);
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-right: auto;
  margin-left: auto;
}

.justify-content-center {
  justify-content: center !important;
}

.d-flex {
  display: flex !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.active {
  background-color: var(--color-moonstone) !important;
  color: var(--color-almond) !important;
}

.nav {
  --bs-nav-link-color: var(--color-eerie-black);
  --bs-nav-link-hover-color: var(--color-moonstone);
  --bs-nav-link-disabled-color: var(--color-eerie-black);
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-pill {
  --bs-nav-pills-link-active-color: var(--color-almond);
  --bs-nav-pills-link-active-bg: var(--color-moonstone);
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--color-moonstone);
  border-radius: 0.375rem;
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-pills .nav-link .active,
.nav-pills .show>.nav-link {
  color: var(--color-almond);
  background-color: var(--color-moonstone);
}

@media (min-width: 768px) {
  .nav-pills .nav-link {
    margin-right: 0.5rem;
    margin-bottom: 0;
  }
}